// src/App.scss

.problems {
    padding: 18px;
    text-align: center;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    
    flex: 0 1 calc(33.333% - 20px); // Ensure three cards per row
    margin: 10px;
    // border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
  
    .card-image {
      width: 100%;
      height: 384px; // Set a fixed height for all images
      object-fit: cover; // Ensure images maintain aspect ratio and cover entire container
    }
  
    .card-content {
        background-color: #C699FF;
      padding: 15px;
      .card-description {
        font-family: Raleway;
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        text-align: left;
        color: #0A0035;
        
      }
    }
  }
  