// @import "~bootstrap/scss/bootstrap";


.header{
    height: 132px;
    display: flex;
    align-items: center;
    .navbar{
        a{
            font-family: Raleway;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            text-align: left;

        }
    }
}